{% extends 'index.html' %}
{% load static %}
{% block body %}
	<div class="w3l_banner_info">
		<div class="slider1">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider1-img" style="height:90px">
							<div class="slider_banner_info">
							
								
							</div>
						</div>
					</li>
					
					
				</ul>
			</div>
		</div>
	</div>
	<!-- //banner-slider -->
</div>
</header>


<section class="about py-lg-5 py-md-4 py-md-3 py-2" id="about">
<div class="about py-lg-5 py-md-4 py-md-3 py-2">
<div class="container">
<h3 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">ABOUT US</h3><iframe style="height:0"></iframe>
<div class="row">
<div class="col-md-6 com-sm-6 w3three_al1">
<h4 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Take A Look About Our Company</h4>
<p class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Market Site is a service provider.
	It is a software package that manages the people information who wants jobs and also those people who want sevice from others.
	In short it provides jobs and services to others.
	The project is totally based on customer and worker, they themselves are the administrator and can access our Market Site.
	Basically Market Site brings together the workers who uploads their advertisement and the customer who wants a service according to their need with the help of internet.   
	With the help of Market Site anyone who has the knowledge about something can work for needy people.
	Due to this Market Site has a slogan “Only Talent Required”.
	</p>
<a href="#">Read More</a>
</div>
<div class="col-md-6 com-sm-6 w3three_al">
<img src="images/ab.jpg" alt="" class="img-fluid">
</div>
</div>
<div class="w3_acd">
<h4>Why Choose Us</h4>
			<div class="w3-agileits-team-title"> 
				
				
			<div id="horizontalTab">
					<ul class=" resp-tabs-list">
					<li>
						<h5>Plumber</h5>
					</li>
					<li>
						<h5>Carpenter</h5>
					</li>
					<li>
						<h5>Electrician</h5>
					</li>
					<li>
					<h5>Painter</h5>
					</li>
					</ul>
					<div class=" resp-tabs-container">
					<div class="tab1">
						<div class="row">
<div class="col-md-6 com-sm-6 w3three_al2">
<div class="test-wel">
						
						<p>The service providers in this website will be absolutely the common people who can make their Id as a service provider due to this there is no need of certification.
							People does not need to serach for job manually.
							This project can reduce the cost of services by avoiding the third party
							Customer does not need to worry in new place.Customer can Search on Market Site and will get “N” numbers of related categories.
							If the worker have the financial problem for setup the own store then worker advertisement on Market Site and earn money by working for the people.
							</p>
						<ul>
							<li>
								<i class="fas fa-check"></i>To reduce Unemplyement.
								</li>
							<li>
								<i class="fas fa-check"></i>Provide services to individual securely.</li>
							<li>
								<i class="fas fa-check"></i>Easy to keep track of worker</li>	
							<li>
								<i class="fas fa-check"></i>Use of internet and Instant response</li>
						</ul>
					</div>
</div>
<div class="col-md-6 com-sm-6 w3three_al3">
<img src="images/ab1.jpg" alt="" class="img-fluid">
</div>
</div>
					</div>
					
					<div class="tab2">
					<div class="row">
<div class="col-md-6 com-sm-6 w3three_al4">
<div class="test-wel">
						
						<p>Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure
							reprehend.Unicmquam eius, Basmodi temurer sehsMunim.</p>
						<ul>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
						</ul>
					</div>
</div>
<div class="col-md-6 com-sm-6 w3three_al5">
<img src="images/ab2.jpg" alt="" class="img-fluid">
</div>
</div>
					</div>
					<div class="tab3">
					<div class="row">
<div class="col-md-6 com-sm-6 w3three_al6">
<div class="test-wel">
						
						<p>Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure
							reprehend.Unicmquam eius, Basmodi temurer sehsMunim.</p>
						<ul>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
						</ul>
					</div>
</div>
<div class="col-md-6 com-sm-6 w3three_al7">
<img src="images/ab3.jpg" alt="" class="img-fluid">
</div>
</div>	
					</div>
					<div class="tab4">
					<div class="row">
<div class="col-md-6 com-sm-6 w3three_al8">
<div class="test-wel">
						
						<p>Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure
							reprehend.Unicmquam eius, Basmodi temurer sehsMunim.</p>
						<ul>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
						</ul>
					</div>
</div>
<div class="col-md-6 com-sm-6 w3three_al9">
<img src="images/ab4.jpg" alt="" class="img-fluid">
</div>
</div>
					</div>
					</div>
					
					
			</div>
	</div>
	</div>
</div>
</div>
</section>



{% endblock %}

